@import '../../styles/vars.scss';

.Game {
  display: flex;
  height: 100vh;
}

.body {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $black-5;

  padding: 133px 80px 122px;

  &__question {
    font-size: 32px;
    max-width: 624px;
  }

  &__question-btn {
    visibility: hidden;
  }

  &__question-btn--visible {
    @include defaultButton;
    visibility: visible;
  }
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 405px);
  gap: 32px 0;
  margin: 0 auto;

  &__option {
    background: url(../../images/inactive-rectangle.svg) no-repeat;
    height: 72px;
    cursor: pointer;
  }

  &__option:hover {
    background: url(../../images/hover-rectangle.svg) no-repeat;
  }

  &__option--correct {
    @extend .list__option;
    background: url(../../images/correct-rectangle.svg) no-repeat;
  }

  &__option--wrong {
    @extend .list__option;
    background: url(../../images/wrong-rectangle.svg) no-repeat;
  }

  &__option--selected {
    @extend .list__option;
    background: url(../../images/selected-rectangle.svg) no-repeat;
  }

  &__option-text {
    user-select: none;
    line-height: 72px;
    margin-left: 48px;
  }
}
